@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./fonts.css");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-thumb {
  background-color: #c0c2c5;
  border-radius: 16px !important;
}